table {
    width: fit-content;

    td,
    th {
        // width: 20%;
        padding: 0px 20px;
    }

    .currency {
        text-align: right;
    }

    mat-icon {
        cursor: pointer;
    }
}